/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121212;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding-bottom: 100px; /* espacio para el footer */
}

/* Header y navegación */
header {
    background: #1e1e1e;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav h2 {
    font-size: 1.8rem;
    color: #00ffe5;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00ffe5;
}

/* Contenido principal */
div {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

div h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #00ffe5;
}

div img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: block;
}


p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Secciones de canciones y álbumes */
#canciones_po {
    margin-top: 2rem;
}

#canciones_po h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #00ffe5;
    display: inline-block;
    padding-bottom: 0.5rem;
    color: white;
    transition: color 0.3s ease;
}

#canciones_po h3:hover {
  
    color: 2px solid #00ffe5;
   
}

#albumes_po{

    margin-top: 2rem;
}

#albumes_po img{

    width: 200px;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: block;
}

#albumes_po h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding-left: 1rem;
}

li {
    background-color: #1f1f1f;
    margin-bottom: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 255, 229, 0.1);
}

/*footer*/
footer {
    background: #1e1e1e;
    padding: 2rem;
    text-align: center;
    color: #aaa;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    color: #aaa;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00ffe5;
}

