/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh; /* altura total de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    margin: 0;
}
/* Header y navegación */
header {
    background: #1e1e1e;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

 a {
    display: flex;
    width: 100px;
    background: #1f1f1f;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: color 0.3s ease;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 255, 229, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

 a:hover {
    color: #00ffe5;
}

/*main*/
h1 {
    color: #e74c3c;
}



